* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Style for when you focus the textboxes */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/* Style for when you hover over the register btn */
.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/*Center the text of the "sign in" section */
.signin {
  text-align: center;
}
.signin a {
  display:contents;
  text-align: center;
}

.logoutbtn {
  background-color: grey;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  float:right;
}

.logoutbtn:hover {
  opacity:1;
}
/* Style for colour scheme switching buttons */
.buttonOB {
  font-weight: bold;
  background: linear-gradient(-60deg, #00A4CCFF 50%, #F95700FF 50%);
}

.buttonRG {
  font-weight: bold;
  background: linear-gradient(-60deg, red 50%, green 50%);
}

.buttonPP {
  font-weight: bold;
  background: linear-gradient(-60deg, purple 50%, pink 50%);
}

/* Set a style for the edit button */
.editbtn {
  background-color: lime;
  color: white;
  padding: 16px 20px;
  
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.editbtn:hover {
  opacity:1;
}

/* Set a style for the delete button */
.deletebtn {
  background-color: red;
  color: white;
  padding: 16px 20px;
  
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.deletebtn:hover {
  opacity:1;
}